<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="../img/icon.ico">
		<title>Prova modularità</title>

		<link rel="stylesheet" href="../css/index.css">

		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
		<meta name="description" content="Author: Ronin_512, Gallery">

		<meta name="color-scheme" content="light">
		
		<script type="module" src="../js/views/Gallery.js" defer></script>
	</head>
    
	<body>
		
	</body>
</html>